NODE_ENV=

APP_NAME="Daily Guide"
APP_VERSION=1.0.0

APP_PORT=3000

ASTRO_USER_ID=
ASTRO_API_KEY=

DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_TYPE=

JWT_SECRET=

OPENAI_API_KEY=

GOOGLE_PLACES_API_KEY=

GOOGLE_APPLICATION_CREDENTIALS=